body
{
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: purple;
    background-color: #d8da3d
}
header { text-align: center; }
nav
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}
h1, h2
{
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif ;
    text-transform: uppercase;
}
nav li
{
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black
}
nav ul a { text-decoration: none }
a:link {
    color: blue }
a:visited { color: purple }
main
{
    display: block;
    margin: auto;
    width: auto;
    min-height:400px;
}
label, input[type="submit"]
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
table { border-collapse: collapse;}
td, th { border:1px solid black; padding:5px; }
th { text-transform: uppercase; }
.mensaje { color:red;}
footer { border-top: 1px solid black; text-align:center;}